
<div class="h-12 w-full bg-gray-to-tr ">
    <iframe src="https://uvmx-my.sharepoint.com/personal/zs20015736_estudiantes_uv_mx/_layouts/15/embed.aspx?UniqueId=2cd724ac-6fee-4428-aa4d-724489b4f212" width="556" height="414" frameborder="0" scrolling="no" 
        allowfullscreen title="portada.png"></iframe>
</div>

<!-- Container for demo purpose -->
<div>

  <!-- Section: Design Block -->
  <section class="mb-40">
   
  </section>
  <!-- Section: Design Block -->

</div>
<!-- Container for demo purpose -->