<div class="h-12 w-full bg-gray-to-tr ">
    
</div>

<!-- Container for demo purpose -->
<div>

  <!-- Section: Design Block -->
  <section class="mb-40">
   Polinizadores
  </section>
  <!-- Section: Design Block -->

</div>
<!-- Container for demo purpose -->